---
layout: null
sitemap: false
---

$baseurl: "{{ site.baseurl }}";

$content-max-width: 1000px;
$nav-header-height: 60px;
$nav-width: 300px;

$space: 20px;

$mobile-break: 998px;
$full-width-break: $nav-width + ($space * 4) + $content-max-width;

@import "tokens";
@import "mixins";
@import "normalize";
@import "pygments";
@import "typography";
@import "code";
@import "tables";
@import "layout";
