# ----
# Site

title: HyperLap2D Wiki
domain: rednblackgames.github.io
url: "https://rednblackgames.github.io"
baseurl: /HyperLap2D-Wiki
google_analytics_key:
show_full_navigation: true

# Values for the jekyll-seo-tag gem (https://github.com/jekyll/jekyll-seo-tag)
logo: /siteicon.png
description: HyperLap2D Wiki Website.
author:
  name: "Red & Black Games"
  email:
  twitter: rednblackgames
social:
  name: HyperLap2D Wiki
  links:
    - https://hyperlap2d.rednblack.games/

# -----
# Build

timezone: Etc/UTC

permalink: pretty

plugins:
  - jekyll-sitemap
  - jekyll-seo-tag
  - jekyll-feed

exclude:
  - Gemfile
  - Gemfile.lock
  - README.md
  - LICENCE

collections:
  docs:
    title: Documentation
    permalink: /:path/
    output: true
  changes:
      title: Changelog
      sort_by: date

feed:
  collections:
    changes:
      path: "/changes.xml"

defaults:
  -
    scope:
      path: ""
    values:
      layout: default
  -
    scope:
      path: ""
      type: "docs"
    values:
      seo:
        type: Article
      _comments:
        category: Group navigation links with this field
        order: Used to sort links in the navigation
      _options:
        content:
          width: 800
          height: 2000
  -
    scope:
      path: ""
      type: "changes"
    values:
      _comments:
        type: Marks the impact of this release

types:
  - minor
  - major
