@use "variables" as *;

pre, code, tt {
	font-family: ui-monospace,SFMono-Regular,SF Mono,Menlo,Consolas,Liberation Mono,monospace;
	font-size: 0.85em;
	white-space: pre-wrap;
	line-height: 1.4;
	font-weight: 400;
	background-color: rgba(175, 184, 193, 0.2);
	color: rgb(36, 41, 47);
	border-radius: 6px;
	padding: .2em .4em;
}

pre {
	box-sizing: border-box;
	margin: 0 0 1.75em 0;
	width: 100%;
	padding: 10px;
	font-size: 0.9em;
	white-space: pre;
	overflow: auto;
	border-radius: 3px;

	code, tt {
		font-size: 0.85em;
		white-space: pre;
		background: transparent;
		border: none;
		padding: 0
	}
}

blockquote > code,
li > code,
p > code {
	padding: 4px 6px;
	word-break: break-word;
}

pre.highlight {
	padding: 8px 12px;
	position: relative;
}

pre.highlight > button {
	opacity: 0;
	position: absolute;
	right: 1.2rem;
	top: .5rem;
	color: $content-color;
	border: 0;
	outline: 0;
	cursor: pointer;
	background-color: rgb(255, 255, 255);
	box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.12) 0px 1px 1px 0px, rgba(60, 66, 87, 0.16) 0px 0px 0px 1px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(60, 66, 87, 0.08) 0px 2px 5px 0px;
	border-radius: 4px;
	font-size: 14px;
	font-weight: 500;
	padding: 4px 8px;
	display: inline-block;
	min-height: 28px;
	transition: opacity .24s;
}
  
pre.highlight:hover > button {
	opacity: 1;
}
  
pre.highlight > button:active,
pre.highlight > button:focus {
	opacity: 1;
}