.highlight {
	.highlight, .highlight pre, .highlight table { background: #262626 !important; border-radius: 10px; color: #ffffff !important; }
	.hll { background-color: #ffffcc !important; }
	.c { color: #666666 !important; font-weight: bold !important; } /* Comment */
	.err { color: #ffffff !important; background: #800000 !important; } /* Error */
	.g { color: #ffffff !important; } /* Generic */
	.k { color: #6495ed !important; } /* Keyword */
	.l { color: #ffffff !important; } /* Literal */
	.n, .h { color: #ffffff !important; } /* Name */
	.o { color: #ffffff !important; } /* Operator */
	.x { color: #ffffff !important; } /* Other */
	.p { color: #ffffff !important; } /* Punctuation */
	.cm { color: #666666 !important; font-weight: bold !important; } /* Comment.Multiline */
	.cp { color: #ff0000 !important; } /* Comment.Preproc */
	.c1 { color: #666666 !important; font-weight: bold !important; } /* Comment.Single */
	.cs { color: #666666 !important; font-weight: bold !important; } /* Comment.Special */
	.gd { color: #0000c0 !important; font-weight: bold !important; background-color: #008080 !important; } /* Generic.Deleted */
	.ge { color: #c000c0 !important; text-decoration: underline !important; } /* Generic.Emph */
	.gr { color: #ffffff !important; font-weight: bold !important; background-color: #ff0000 !important; } /* Generic.Error */
	.gh { color: #ffd700 !important; font-weight: bold !important; } /* Generic.Heading */
	.gi { color: #ffffff !important; background-color: #0000c0 !important; } /* Generic.Inserted */
	.go { color: #4169e1 !important; font-weight: bold !important; } /* Generic.Output */
	.gp { color: #ffffff !important; } /* Generic.Prompt */
	.gs { color: #ffffff !important; } /* Generic.Strong */
	.gu { color: #ffd700 !important; font-weight: bold !important; } /* Generic.Subheading */
	.gt { color: #ffffff !important; font-weight: bold !important; background-color: #ff0000 !important; } /* Generic.Traceback */
	.kc { color: #6495ed !important; } /* Keyword.Constant */
	.kd { color: #6495ed !important; } /* Keyword.Declaration */
	.kn { color: #6495ed !important; } /* Keyword.Namespace */
	.kp { color: #6495ed !important; } /* Keyword.Pseudo */
	.kr { color: #6495ed !important; } /* Keyword.Reserved */
	.kt { color: #6495ed !important; } /* Keyword.Type */
	.ld { color: #ffffff !important; } /* Literal.Date */
	.m { color: #ffffff !important; } /* Literal.Number */
	.s { color: #87ceeb !important; } /* Literal.String */
	.na { color: #ffdead !important; } /* Name.Attribute */
	.nb { color: #ffffff !important; } /* Name.Builtin */
	.nc { color: #ffffff !important; } /* Name.Class */
	.no { color: #ffa0a0 !important; } /* Name.Constant */
	.nd { color: #ffffff !important; } /* Name.Decorator */
	.ni { color: #bdb76b !important; } /* Name.Entity */
	.ne { color: #ffffff !important; } /* Name.Exception */
	.nf { color: #ffdead !important; } /* Name.Function */
	.nl { color: #ffffff !important; } /* Name.Label */
	.nn { color: #ffffff !important; } /* Name.Namespace */
	.nx { color: #ffffff !important; } /* Name.Other */
	.py { color: #ffffff !important; } /* Name.Property */
	.nt { color: #6495ed !important; } /* Name.Tag */
	.nv { color: #fa8072 !important; } /* Name.Variable */
	.ow { color: #ff0000 !important; } /* Operator.Word */
	.w { color: #ffffff !important; } /* Text.Whitespace */
	.mf { color: #ffffff !important; } /* Literal.Number.Float */
	.mh { color: #ffffff !important; } /* Literal.Number.Hex */
	.mi { color: #ffffff !important; } /* Literal.Number.Integer */
	.mo { color: #ffffff !important; } /* Literal.Number.Oct */
	.sb { color: #87ceeb !important; } /* Literal.String.Backtick */
	.sc { color: #87ceeb !important; } /* Literal.String.Char */
	.sd { color: #87ceeb !important; } /* Literal.String.Doc */
	.s2 { color: #87ceeb !important; } /* Literal.String.Double */
	.se { color: #87ceeb !important; } /* Literal.String.Escape */
	.sh { color: #87ceeb !important; } /* Literal.String.Heredoc */
	.si { color: #87ceeb !important; } /* Literal.String.Interpol */
	.sx { color: #87ceeb !important; } /* Literal.String.Other */
	.sr { color: #87ceeb !important; } /* Literal.String.Regex */
	.s1 { color: #87ceeb !important; } /* Literal.String.Single */
	.ss { color: #87ceeb !important; } /* Literal.String.Symbol */
	.bp { color: #ffffff !important; } /* Name.Builtin.Pseudo */
	.vc { color: #fa8072 !important; } /* Name.Variable.Class */
	.vg { color: #fa8072 !important; } /* Name.Variable.Global */
	.vi { color: #fa8072 !important; } /* Name.Variable.Instance */
	.il { color: #ffffff !important; } /* Literal.Number.Integer.Long */
	.bash .nv {
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		-o-user-select: none;
		user-select: none;
	}
	.language-bash & .nb {
	    color: #99D4FF;
	}
}
